<div class="customized-height">
  <nav class="navbar navbar-expand-lg navbar-white bg-navbar" *ngIf="isMobileToggleActive">
    <div class="container-fluid">
      <div data-bs-toggle="offcanvas" href="#mainMenuOffcanvas" role="button" aria-controls="mainMenuOffcanvas">
        <i-feather name="menu"></i-feather>
      </div>
    </div>
  </nav>

  <div class="base-layout-grid"
    [ngClass]="isMobileToggleActive ? 'isMobileToggledActive' : (!isMenuToggleActive ? 'isToggledDeActive':'isToggledActive')">
    <div class="grid-main-menu">
      <ul class="grid-main-menu">
        <li class="grid-main-menu-item" *ngFor="let mainmenu of mainTopMenu">
          <i-feather name={{mainmenu.icon}}></i-feather>
        </li>
      </ul>
      <ul class="grid-main-menu bottom-main-menu"  [ngStyle]="{'width': !isMobileToggleActive ? '50px' : '0'}">
        <li class="grid-main-menu-item" *ngFor="let mainmenu of mainBottomMenu">
          <i-feather name={{mainmenu.icon}}></i-feather>
        </li>
      </ul>
    </div>
    <div class="grid-toggled-menu"></div>
    <div class="grid-content-area"></div>
  </div>
</div>


<!-- mobileMenu -->
<div class="offcanvas offcanvas-start w-50  mainMenuOffcanvas" tabindex="-1" id="mainMenuOffcanvas"
  aria-labelledby="mainMenuOffcanvasLabel">
  <!-- <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="mainMenuOffcanvasLabel">Offcanvas</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div> -->
  <div class="offcanvas-body p-0">
    <ul class="grid-main-menu list-unstyled">
      <li class="grid-main-menu-item" data-bs-dismiss="offcanvas" aria-label="Close"
        *ngFor="let mainmenu of mainTopMenu">
        <i-feather name={{mainmenu.icon}}></i-feather> &nbsp; {{mainmenu.title}}
      </li>
    </ul>
  </div>
</div>